{% extends 'base.html.twig' %}
{% block head_additions %}
    <meta name="description" content="{{ data.country.country_code }}">
{% endblock %}

{% block header %}
    <nav class="fw-semibold fs-4"><a href="/" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a></nav>

    <h2 class="text-center">Country card: {{ data.countries[country_code].name }}</h2>
{% endblock %}

{% block main %}
<table class="table table-sm w-50 justify-content-center">
    <tbody>
        <tr>
            <th>Population</th>
            <td>{{ data.countries[country_code].population|number_format }}</td>
        </tr>
        <tr>
            <th>Addressable Desktop market (2025)</th>
            <td>{{ data.desktopPotentialMarket(country_code)|number_format }}</td>
        </tr>
        {%  if data.countries[country_code].community != '' %}
        <tr>
            <th>Community site</th>
            <td>{{ data.countries[country_code].community }}</td>
        </tr>
        {%  endif %}
        <tr>
            <th>Languages</th>
            <td>
            {% for key, values in data.getLocaleData(country_code) %}
                <span
                    title="{{ key }}"
                    {% if key == data.countries[country_code].main_language %} class="fw-semibold"{% endif %}
                >{{ values.name }}</span>{% if not loop.last %} - {% endif %}
            {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Shipping with a dictionary</th>
            <td>
            {% set has_dict = false %}
            {% for key, values in data.getLocaleData(country_code) %}
                {% if key in l10n.locales_with_dict %}
                    {% set has_dict = true %}
                    <span
                        title="{{ key }}"
                        {% if key == data.countries[country_code].main_language %} class="fw-semibold"{% endif %}
                    >{{ values.name }}</span>{% if not loop.first %} - {% endif %}
                {% endif %}
            {% endfor %}
            {% if not has_dict %} No dictionary shipped with Firefox Desktop.{% endif %}
            </td>
        </tr>

        <tr>
            <th>{{ data.countries[country_code].name }} open bugs</th>
            <td><a href="{{ open_bugs.url }}">{{ open_bugs.count }}</a></td>
        </tr>

        <tr>
            <th>Desktop market Share (Statcounter)</th>
            <td>
                {% if marketshare == 0 %}
                N/A
                {% else %}
                    {{ (marketshare/100)|format_percent_number({rounding_mode: 'floor', fraction_digit: 2}) }} <small>({{ marketshare_yoy|format_percent_number({rounding_mode: 'floor', fraction_digit: 2}) }})</small>
                {% endif %}
        </td>
        </tr>


    </tbody>
</table>


{% endblock %}

{% block footer %}
{% endblock %}
