{% extends 'base.html.twig' %}
{% block head_additions %}
    <meta name="description" content="{{ data.country.country_code }}">
{% endblock %}

{% block header %}
  <h1 class="text-center fw-semibold">Country card: </h1>
{% endblock %}

{% block main %}
<table class="table table-sm w-75 justify-content-center">
    <caption>{{ data.countries[country_code].name }}</caption>
    <tbody>
        <tr>
            <th>Population</th>
            <td>{{ data.countries[country_code].population|number_format }}</td>
        </tr>
        <tr>
            <th>Addressable Desktop market (2025)</th>
            <td>{{ data.getDesktopPotentialMarket(country_code)|number_format }}</td>
        </tr>
        <tr>
            <th>Community site</th>
            <td>{{ data.countries[country_code].community }}</td>
        </tr>
    </tbody>
</table>


{% endblock %}

{% block footer %}
{% endblock %}
