{% extends 'base.html.twig' %}
{% block head_additions %}
    {% set meta_description = 'This is the homepage' %}
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" href="/assets/js/sortable-tables.min.css" type="text/css" media="all">
    <script src="/assets/js/sortable-tables.min.js"></script>

{% endblock %}

{% block header %}
    <nav class="fw-semibold fs-4"><a href="/" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Home</a></nav>
    <h2 class="text-center">{{ page_title }}</h2>
    {# We have a Kurdish dictionary in tree yet we don’t ship this locale, so we remove one #}
    <h3 class="text-center">{{ dict.data['locales']|length - 1 }} locales ship with a built-in dictionary</h3>
{% endblock %}

{% block main %}
<table class="table table-sm w-75 sortable-table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Language</th>
            <th>Dictionary</th>
            <th>Version</th>
            <th>Outdated</th>
            <th>License</th>
            <th>Source</th>
            <th><img src="/assets/img/nightly_16.png" title="Nightly-only locale" alt="Nightly-only locale"></th>

        </tr>
    </thead>
    <tbody>
        {% for locale in l10n.desktop_locales_all %}
        <tr>
            <td>{{ locale }}</td>
            <td>{{ l10n.locale_names[locale] }}</td>
            <td><span class="{{ dict.supported(locale) ? 'd-block p-0 m-0 text-success-emphasis bg-info-subtle text-center' : '' }}">{{ dict.supported(locale) ? 'Yes' : '' }}</span></td>
            <td>{{ dict.data['locales'][locale]['version'] }}</td>
            <td>{%- if dict.isOutdated(locale) -%}
                   <span class="d-block p-0 m-0 ps-1 pe-1 text-warning-emphasis bg-warning-subtle text-center">{{ dict.data['locales'][locale]['outdated'].value }}</span>
                {%- elseif dict.data['locales'][locale]['outdated'].value == 'No' -%}
                    <span class="d-block p-0 m-0 ps-1 pe-1 text-success-emphasis bg-info-subtle text-center">{{ dict.data['locales'][locale]['outdated'].value }}</span>
                {%- elseif dict.data['locales'][locale]['outdated'].value == 'Updated in 2025' -%}
                    <a href="{{ dict.data['locales'][locale]['bug'] }}">
                        <span class="d-block p-0 m-0 ps-1 pe-1 text-info-emphasis bg-success-subtle text-center">
                            {{ dict.data['locales'][locale]['outdated'].value }}
                        </span>
                    </a>
                {%- elseif dict.data['locales'][locale]['outdated'].value == 'Upgrading' -%}
                    <a href="{{ dict.data['locales'][locale]['bug'] }}">
                        <span class="d-block p-0 m-0 ps-1 pe-1 text-info-emphasis bg-success-subtle text-center">
                            {{ dict.data['locales'][locale]['outdated'].value }}
                        </span>
                    </a>
                {%- elseif dict.data['locales'][locale]['outdated'].value == 'Removed in 2025' -%}
                    <a href="{{ dict.data['locales'][locale]['bug'] }}">
                        <span class="d-block p-0 m-0 ps-1 pe-1 text-info-emphasis bg-success-subtle text-center">
                            {{ dict.data['locales'][locale]['outdated'].value }}
                        </span>
                    </a>
                {%- elseif dict.data['locales'][locale]['outdated'].value == 'Unknown' -%}
                    <span class="d-block p-0 m-0 ps-1 pe-1 text-success-emphasis bg-secondary-subtle text-center">{{ dict.data['locales'][locale]['outdated'].value }}</span>
                {%- endif -%}</td>
            <td>{{ dict.license(locale) }}</td>
            <td>{{ utils.HTMLlinkFromURL(dict.data['locales'][locale]['source'])|raw }}</td>
            <td>
                {%- if locale in l10n.desktop_locales_not_shipped -%}
                <img src="/assets/img/nightly_16.png" title="Nightly-only locale" alt="Nightly-only locale">
                {%- else -%}
                    &nbsp;
                {%- endif -%}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}

{% block footer %}
    <footer class="d-flex justify-content-center">Data last updated: {{ dict.data.date }}</footer>
{% endblock %}
