{% extends 'base.html.twig' %}
{% block head_additions %}
    {% set meta_description = 'This is the homepage' %}
      <meta name="description" content="{{ meta_description }}">
{% endblock %}

{% block header %}
    <div  class="text-center fw-semibold">
        <h1>Vanilla project</h1>
        <h2>Consolidation of data about Firefox in specific countries</h2>
        <h3>Countries studied:
        {% for key, values in data.countries %}
            <a href="/country/?code={{ key }}">{{ data.countries[key].name }}</a>{%  if not loop.last %}, {% else %}.{%  endif %}
        {% endfor %}
        </h3>
    </div>
{% endblock %}

{% block main %}
<table class="table table-sm w-75 justify-content-center">
    <tbody>
        <tr>
            <th>Total population of countries studied:</th>
            <td class="text-end">{{ data.population|number_format }}</td>
        </tr>
        <tr>
            <th>Addressable Desktop market (2025)</th>
            <td class="text-end">{{ data.desktopPotentialMarket()|number_format }}</td>
        </tr>
        <tr>
            <th>Inventory of dictionaries shipping in Firefox Desktop</th>
            <td class="text-end"><a href="/dictionaries">dictionaries</a></td>
        </tr>
        <tr>
            <th>Inventory of preferences activated only for select locales</th>
            <td class="text-end"><a href="/prefs">preferences</a></td>
        </tr>
    </tbody>
</table>


{% endblock %}

{% block footer %}
{% endblock %}
